.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    // padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    // flex: 1 1 auto;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding-left: calc(1.5rem * .5);
    padding-right: calc(1.5rem * .5);
    width: 100%;
    
    > div{
        padding: 1rem;
    }
}
