.layout-sidebar {
    /* -------------------------------------------------------------------------- */
    /*                                  OLD STYLE                                 */
    /* -------------------------------------------------------------------------- */
    // position: fixed;
    // width: 300px;
    // height: calc(100vh - 5rem);
    // z-index: 999;
    // overflow-y: auto;
    // user-select: none;
    // top: 5rem;
    // transition: transform $transitionDuration, left $transitionDuration;
    // background-color: var(--surface-overlay);
    // box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);

    /* -------------------------------------------------------------------------- */
    /*                                 NEW STYLES                                 */
    /* -------------------------------------------------------------------------- */
    width: 17rem;
    background-color: #05050b;
    border-right: 0 solid #05050b;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    top: 0;
    transition: all .2s ease-in-out;
    z-index: 1035;
    border-radius: 1rem;
    box-shadow: 0 1.6rem 3rem #0000001a;
    margin: 1rem;
    overflow: hidden;
    /* -------------------------------------------------------------------------- */
    /*                                  NEW STYLE                                 */
    /* -------------------------------------------------------------------------- */
    // scrollbar styling
        &::-webkit-scrollbar {
            width: 4px; /* Adjust width for this element */
        }
        
        // Customize colors for this element
        &::-webkit-scrollbar-track {
            background-color:  var(--green-100);
        }
        
        &::-webkit-scrollbar-thumb {
            background-color:var(--primary-color);
            opacity: 0.5;
        }
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll !important;
    &::-webkit-scrollbar {
        width: 1px; /* Adjust width for this element */
    }
    
    // Customize colors for this element
    &::-webkit-scrollbar-track {
        background-color:  var(--green-100);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color:#05050b;
        opacity: 0.5;
    }
    .layout-root-menuitem {
         
        > .layout-menuitem-root-text {
            font-size: 0.857rem;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--surface-900);
            margin: 0.75rem 0;
        }

        > a {
            display: none;
        }
    }

    a {
        user-select: none;

        &.active-menuitem {
            > .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    li.active-menuitem {
        > a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    li {
        padding: 0.375rem 0.75rem;
        transition: all .2s ease-in-out;
        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            // color: var(--text-color);
            cursor: pointer;
            padding: 1rem 1.5rem; 

            color: #e7eef8;
            font-size: .825rem;
            font-weight: 600;
            height: 3rem;
            outline: none;
            padding: 0.75rem;
            position: relative;
            text-decoration: none;
            transition: all .2s ease-in-out;
            .layout-menuitem-icon {
                margin-right: 0.8rem;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform $transitionDuration;
            }

            &.active-route {
                font-weight: 700;
                // color: var(--primary-color);
                background-color: #232328;
                border-radius: 1rem;
                color: #e7eef8;
            }

            &:hover {
                background-color: #232328;
                color: #e7eef8;
                border-radius: 1rem;
            }

            // &:focus {
            //     @include focused-inset();
            // }
        }

        ul {
            overflow: hidden;
            border-radius: $borderRadius;

            li {
                a {
                    margin-left: .5rem;
                }

                li {
                    a {
                        margin-left: 1rem;
                    }

                    li {
                        a {
                            margin-left: 1.5rem;
                        }

                        li {
                            a {
                                margin-left: 2rem;
                            }

                            li {
                                a {
                                    margin-left: 2.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
